/********** Template CSS **********/


.glow {
    font-size: 4rem;
    padding: 10px;
    color: #e0b3ff;
    font-family: "Staatliches", Sans-serif;
    text-align: center;
    text-shadow:
        0 0 5px #d580ff,
        0 0 10px #bf40ff,
        0 0 20px #9900cc,
        0 0 30px #cc66ff,
        0 0 40px #cc66ff,
        0 0 50px #bf40ff,
        0 0 75px #9900cc;
    animation: glowPulse 2s ease-in-out infinite alternate;
}

@keyframes glowPulse {
    from {
        text-shadow:
            0 0 5px #d580ff,
            0 0 10px #bf40ff,
            0 0 20px #9900cc,
            0 0 30px #cc66ff,
            0 0 40px #cc66ff,
            0 0 50px #bf40ff,
            0 0 75px #9900cc;
    }

    to {
        text-shadow:
            0 0 10px #e699ff,
            0 0 20px #cc66ff,
            0 0 30px #bf40ff,
            0 0 40px #9900cc,
            0 0 50px #9900cc,
            0 0 60px #cc66ff,
            0 0 100px #bf40ff;
    }
}

.popup-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 20px;
    display: none;
    z-index: 9999;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup-container h3 {
    margin-top: 0;
    color: #333;
}

.popup-container input[type="email"],
.popup-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
}


.popup-container button {
    width: 100%;
    padding: 10px;
    background-color: #f1368d;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.popup-container .close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 16px;
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
}

.popup-container .close-btn:hover {
    color: #333;
}

:root {
    /* --primary: #0463FA; */
    --primary: #d63384 !important;
    --light: #EFF5FF;
    --dark: #1B2C51;
}

* {
    margin: 0px;
    padding: 0px;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    #reducer {
        width: 40% !important;
    }

    #increaseer {
        width: 60% !important;
        text-align: justify;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .owl-carousel-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.header-carousel .owl-nav {
    position: absolute;
    width: 280px;
    /* height: 45px; */
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: var(--primary);
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--primary);
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    transition: .5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    border-radius: 5px;
}

.header-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: url(../img/hero-01.jpg) top center no-repeat;
    background-size: cover;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
    background-position: center;
    height: 55vh;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Service ***/
.service-item {
    transition: .5s;
    text-align: center;
}

.service-item:hover {
    margin-top: -10px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 40px;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Team ***/
.team-item img {
    position: relative;
    top: 0;
    transition: .5s;
}

.team-item:hover img {
    top: -30px;
}

.team-item .team-text {
    position: relative;
    height: 120px;
    transition: .5s;
}

.team-item:hover .team-text {
    margin-top: -60px;
    height: 160px;
}

.team-item .team-text .team-social {
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text .team-social {
    opacity: 1;
}

.team-item .team-social .btn {
    display: inline-flex;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    background: var(--light);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary);
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item img {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}

/* NEW CSS */
.text-primary {}



.col-lg-6 p {
    text-align: justify;
}

.partner {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse !important;
    width: 80%;
    padding: 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.699)
}

@media screen and (max-width:991px) {
    .partner {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse !important;
        width: 100% !important;
        background-color: white;
    }
}

.containerr {
    /* background-color: #EFF5FF!important; */
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}

.cursor {
    position: relative;
    /* width: 100%; */
    /* margin: 0 auto; */
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 70px;
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: #ff9ea7;
}

.typewriter-animation {
    animation:
        typewriter 5s steps(10) 1s 1 normal both,
        blinkingCursor 500ms steps(10) infinite normal;
    animation-iteration-count: infinite;
    /* color: #ff9ea7 !important; */
}

@keyframes typewriter {
    from {
        width: 0;
        color: #ff9ea7;
    }

    to {
        width: 100%;
        color: #ff9ea7 !important;
    }
}

.dimmer {
    animation-name: dimmer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;

}

@keyframes dimmer {
    0% {
        color: #FFFFFF;
    }

    50% {
        color: #d63384;
    }

    100% {
        color: #FFFFFF;
    }
}

#feature-icons {
    color: #d63384;
    font-size: 30px;
}

#feature-icons-blue {
    color: #d63384;
    font-size: 30px;
}

a {
    color: rgba(65, 65, 65, 0.685);
}

/* .text-primary {
    color: #0463FA !important;
}
.btn-primary{
    background-color: #ff9ea7 !important;
    border: none !important;
} */
.bg-dark {
    background-color: #d63384 !important;
}

#thisbtn {
    animation-name: thisbtn;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes thisbtn {
    0% {
        background-color: #1b2c5100;
        transform: scale(1);
    }

    50% {

        background-color: #d63384;
        /* color: crimson; */
        transform: scale(1.5);
        border: 5px solid #1B2C51;
    }

    100% {
        background-color: #1b2c5100;
        transform: scale(1);
    }
}



.hero-carousel {
    height: 90vh !important;
    width: 100% !important;
}

.hero-sub-container {
    height: 100%;
    width: 100%;
    background-image: url('../img/hero-01.jpg');
    background-position: center;
}

.be4about {
    margin-top: -60px;
    background-color: #f9e9fa;
    height: 100%;
    width: 100%;
    padding: 80px 40px 80px 40px;
    display: flex;
    justify-content: center;
    transform: scale();
}

.text-con {
    width: 40%;
    height: 100%;
    padding: 0px 60px 20px 20px;
    text-align: justify;

}

.img-con {
    width: 50%;
    height: 400px;
    padding: 50px;
    background-image: url('../img/PIC/g9.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid var(--primary);
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.274);

}

.header h2 span {
    color: #d63384;
}

.header h2 {
    font-family: "Staatliches", Sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
}

.header p {
    font-weight: 600;
    text-align: justify !important;
    padding: 10px;
}

.fourcon {
    height: 400px;
    background-color: #1b2c5134;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 20px 5px 20px 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 4px 14px 25px rgba(0, 0, 0, 0.425);

}

.con-item {
    width: 45%;
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: #ff65b500;
}

.con-item img {
    width: 200px;
    height: 200px;
    opacity: 1;
    border-radius: 20px;
}

.learn-more {
    text-align: center;
    border: 2px solid purple;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: transparent;

}

.learn-more:hover {
    background-color: purple;
    color: white;
}

.cation {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 20px 60px 20px;
}

.bg-lightt {
    background-color: white;
}

.about-banner {
    background-image: url("../img/hero-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#impact-icon {
    font-size: 20px;
    color: #d63384;
}

.donate-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.donate-btn button {
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: white;
    color: purple;
    border-radius: 10px;
    margin-top: 40px;

}

.donate-btn button:hover {
    background-color: pink;
    color: white;
}

/* .container {
      max-width: 1000px;
      margin: 2rem auto;
      padding: 1rem;
    } */

.section {
    margin-bottom: 2rem;
}

.section h2 {
    color: #c56cf0;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.section p {
    line-height: 1.7;
    color: #555;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.link-box {
    flex: 1 1 300px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    text-align: center;
    padding: 1.5rem 1rem;
    background: #fff0fb;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #333;
}

.link-box:hover {
    transform: translateY(-3px);
}

.link-box i {
    font-size: 2rem;
    color: #c56cf0;
    margin-bottom: 0.5rem;
}

.link-box span {
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    color: #aaa;
    font-size: 0.9rem;
    border-top: 1px solid #eee;
    margin-top: 3rem;
}

@media (max-width: 600px) {
    .link-box {
        flex: 1 1 100%;
    }
}

.section-container {
    align-items: center;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.section-container div {
    width: 45%;
}

.section-container div img {
    width: 100%;
    border-radius: 2px;
}

.section-container div p {
    text-align: justify;

}

.trusted-partner {
    background-color: #f9e9fa;
    padding: 40px;
}

.trusted-partner .container div p {
    font-size: 13px;

}

.main-container .container {
    padding-top: 20px;
}

@media screen and (max-width:768px) {
    .section-container {
    align-items: center;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
}
.section-container div {
    width: 100%;
}

.main-container .container {
    padding-top: 10px;
}

.w-50{
    width: 100% !important;
}
}

.fa-hand-point-right,.fa-arrow-right, .edufas{
    font-size: 16px;
    background-color: white;
    padding: 5px;
    border-radius: 40%;
    margin: 5px;
    color: purple;
}
 .onwhite{
    font-size: 16px;
    background-color: purple;
    padding: 5px;
    border-radius: 40%;
    margin: 5px;
    color: white;
}
.shiny-bulb {
  color: #d111a1; /* golden/yellow */
  font-size: 48px;
  text-shadow: 0 0 8px #FFD700, 0 0 16px #FFA500;
}
a:hover{
    color: black !important;
}
.links a{
    text-decoration: none;
}

.item-container{
    width: 400px;
    height: 400px;
}
.item-container img{
    width: 400px;
    height: 400px;
}